* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'sans-serif';
    font-size: medium;
    font-weight: bold;
    line-height: 1.7;
}

/*
Note to add scss variables for like values. Use partials for group style like buttons and then extensions where possible, can also implement a theme switcher.
*/

@import 'extensions';

main {
    display: flex;
    min-height: 100vh;
    background: $background;
}

div {

    &.calc-wrapper {
        @extend %calc-body;

        h3 {
            color: $btn-color;
        }
    }

    &.calc-body {
        @extend %inner-calc-body;
    }

    &.numbers {
        display: flex;
        padding: 0.5rem;
        margin: 0.1rem;
        align-items: center;
        justify-self: space-around;
        border: 1px solid black;
        border-radius: 5px;
        color: hsl(0, 0%, 100%);
        z-index: 2;
        transition: all 0.4s;
        background-color: hsla(40, 100%, 50%, 0.5);
    }

    &.result {
        display: block;
        color: hsl(0, 0%, 100%);
        width: 100%;
        height: 10vh;
        z-index: 2;
        background-color: black;
        border-radius: 5px;
    }
}

div.numbers:hover {
    color:hsla(139, 45%, 55%, 1);
    background-color: hsla(55, 100%, 50%, 0.6);
    cursor: pointer;
    transform: scale(1.1);
}

div.numbers:active {
    color: hsla(139, 70%, 80%, 1);
    background-color: hsla(55, 100%, 70%, 1);
    box-shadow: 0px 0px 10px 5px;
    transform: scale(0.9);
    cursor: grab;
}

h3:hover {
    color: #eaf201;
}

div.style {
    width: 1000vw;
    height: 10px;
    z-index: 1;
    display: flex;
    align-self: center;
    background-color: gray;
    position: absolute;
    transform: rotate(45deg);

    &::after {
        @extend %pseudo-style-1;
    }

    &::before {
        @extend %pseudo-style-2;
    }
}


